body{
    background-color: #FFF89A;
  }
hr{
    background-color:#FFB2A6;
    height: 0;
    border-style:none;
    border-top-style: dotted;
    width: 30%;
  }
image{
    height:100px;
  }
h1{
  color:#9ADCFF;
}
h3{
  color:#FF8AAE;
}
